
<div class="card" style="width: 18rem; height: 30rem;">
    <div class="card-body">
        
      <h2 class="card-title"><i class="fa fa-bars" aria-hidden="true"></i>Manu</h2>
      <p class="card-text"></p>
      
      <div class="d-grid gap-2">
      <button type="button" class="btn btn-info" routerLink="user-course">My course</button>
      </div> 
      <br>
      <div class="d-grid gap-2">
       
     <button type="button" class="btn btn-info" routerLink="View-examination">Examination</button>
       
    </div> 
        <br>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-info" routerLink="View-examination">Result-Report</button>
            </div> 
    </div>
  </div>


<!--<div class="bootstap-wrapper">
        
    <ul class="list-group">
  An active item</li>
  <li class="list-group-item">A second item</li>

    <div class="row">
     <div class="col-md-6 offset-3" style="border:1px solid black; padding:30px;">
        <div class="mb-3">
            
    <mat-action-list>

      <div mat-subheader>menu</div>
<Button mat-list-item><mat-icon mat-list-icon>home</mat-icon>Home</Button><br>

<Button mat-list-item><mat-icon mat-list-icon></mat-icon>Examination</Button><br>

<Button mat-list-item><mat-icon mat-list-icon></mat-icon>Result Report</Button>

<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>


    </mat-action-list>
<mat-card style="border:1px solid black; padding:30px; background:pink ;">
    <mat-card-content >Simple card</mat-card-content>
  </mat-card>
    </div>
    </div>
</div>-->
