<nav class="navbar navbar-expand-lg bg-primary">
    
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ExamPortal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="home">Home</a>
          </li>
          
         <!-- <li class="nav-item">
            <a class="nav-link" href="#" routerLink="register">Sign-Up</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#" routerLink="login/student">Login</a>

          </li>-->
          <li class="nav-item">
            
            <button class="nav-link" href="#" routerLink="view-examination">Examination</button>
          
          </li>
          
          <li class="nav-item">
            
            <button class="nav-link" href="#" routerLink="student-profile"><i class="fa fa-user" aria-hidden="true">Profile</i></button>
          
          </li>

          <form class="d-flex" role="search">
            <button class="btn btn-outline-success" routerLink="/login" type="submit">Logout</button>
            </form>
    
            
         
        </ul>
          
      </div>
    </div>
  </nav>