<h1 class="text-center">update-Subject </h1>

 <div class="container">
    <div class="bootstrap-wrapper">
        <div class="row" >
            <div class="col-md-6 offset-3">
                <form [formGroup]="updateSubjectForm" (ngSubmit)="updateSubject()">
                    <div class="form-group">
                        <label for="subjectName">subjec Name</label>
                      <input type="text"
                       class="form-control" 
                       id="subjectName"
                       name="subjectName" 
                       formControlName="subjectName"
                       aria-describedby="emailHelp">
                       <span *ngIf="updateSubjectForm.controls['subjectName'].touched && !updateSubjectForm.controls['subjectName'].valid">
                        
                        <span *ngIf="updateSubjectForm.controls['subjectName'].hasError('required')">
                            subject name is required !
                        </span>
                        <span *ngIf="updateSubjectForm.controls['subjectName'].hasError('minlength')">
                            subject name Should be minimum 4 characters !
                        </span>
                        <span *ngIf="updateSubjectForm.controls['subjectName'].hasError('maxlength')">
                            subject name Should be maximum 10 characters !
                        </span>
                       
                       </span>
                     </div>
                     <div class="form-group">
                        <label for="subjectDiscription">Discription</label>
                      <input type="text"
                       class="form-control" 
                       id="subjectDiscription"
                       name="subjectDiscription" 
                       formControlName="subjectDiscription"
                       aria-describedby="emailHelp">
                       <span *ngIf="updateSubjectForm.controls['subjectDiscription'].touched && !updateSubjectForm.controls['subjectDiscription'].valid">
                        
                        <span *ngIf="updateSubjectForm.controls['subjectDiscription'].hasError('required')">
                            subjectDiscription is required !
                        </span>
                        <span *ngIf="updateSubjectForm.controls['subjectDiscription'].hasError('minlength')">
                            studentDiscription Should be minimum 2 characters !
                        </span>
                        <span *ngIf="updateSubjectForm.controls['subjectDiscription'].hasError('maxlength')">
                            studentDiscription Should be maximum 10 characters !
                        </span>
                        </span>
                      </div>
                      <div class="text-center">
                     <button type="submit" class="btn btn-success">Update</button>
                    
                     <button type="reset" class="btn btn-primary">Reset</button>
                     </div>  
                 </form>
             
                
         </div>
 
     </div>
 
     
 
  </div>                  

