<div class="bootstrap-wrapper">
<div class="container col-md-4">
   <table class="table" border="3">
    <div class="text-center">
  
       <img src="../../assets/image/user-profile.png" width="80px" height="80px"></div>
        <tbody>
          <tr>
            <th scope="row">Student Id</th>
            <td>{{student.studentId}}</td>
          </tr>
          <tr>
             <th scope="row">Student Name</th>
             <td>{{student.studentName}}</td>
            </tr>
            <tr>
             <th scope="row">studentQualification</th>
             <td>{{student.studentQualification}}</td>
          </tr>
        <tr>
        <th scope="row">Student Age</th>
          <td>{{student.studentAge}}</td>
          </tr>
          <tr>
            <th scope="row">Student Email</th>
              <td>{{student.studentEmail}}</td>
               </tr>
               <tr>
                <th scope="row">Student password</th>
                <td>{{student.studentPassword}}</td>
                 </tr>
                <tr>
              <th scope="row">StudentMobileNumber</th>
           <td>{{student.studentMobileNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>               
          
