<h1 class="text-center">Course List</h1>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">CourseName</th>
            <th scope="col">CourseFee</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of courseList">
            <th>{{data.courseId}}</th>
            <td>{{data.courseName}}</td>
            <td>{{data.courseFee}}</td>
         
            <td><a routerLink="/admin-dashboard/update-course/{{data.courseId}}"><i style="color:green" class="fa fa-pencil" aria-hidden="true" ></i></a> | <i style="color:red" (click)="deleteCourse(data.courseId)" class="fa fa-trash" aria-hidden="true"></i></td>
        </tr>
                  
        </tbody>
    </table>
</div>